/* Custom CSS */
/*
body {
  width: 100%;
  overflow: hidden;
}
*/
/*
header {
  height: 100vh;
  text-align: center;
  z-index: 3000;
  margin-bottom: 4rem;
  background: #ececec;
  display: flex;
  flex-direction: column;
}
*/

#heading {
  height: 100vh;
  background-color: #ececec;
}
