header {
  height: 100vh;
  padding-top: 50px;
  background: #ececec;
  /*background: linear-gradient(135deg, #ffc867, #f037a6);*/
}

body {
  font-family: 'Merriweather', serif;
  /*background: linear-gradient(135deg, #ffc867, #f037a6);*/
  /*background: linear-gradient(145deg, #509bf5, #f037a6);*/
  /*background: linear-gradient(135deg, #355c7d, #f67280);*/ /* Flat blue -> Flat pink-red */
  /*background: linear-gradient(135deg, #ffc867, #f037a6);*/
  /*background: linear-gradient(135deg, #31588a, #be3144);*/
  margin-bottom: 50px;
}

.title {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.title h1 {
  font-size: 60px;
  /*color: #eae7ed;*/
  color: #393e46;
  line-height: 1.3;
}

.energy-plot {
  margin-top: 50px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 62.5%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.spacer {
  height: 200px;
}

.slide {
  background: #eee;
  opacity: 0.3;
  border-left: 4px solid #f67280;
  padding: 1rem 1.5rem;
}

.active {
  opacity: 1;
}

.graphic_prose p {
  margin-top: 20px;
  margin-bottom: 16rem;
}

/*
    Manually changing Energy plot x- and y-axes (Need to figure out how to do
    this through JavaScript/d3)
*/
#energy-x-axis path {
  stroke: black;
  stroke-width: 1.5;
  opacity: 0.5;
  shape-rendering: crispEdges;
}

#energy-x-axis .tick line {
  stroke: black;
  stroke-width: 1.5;
  opacity: 0.5;
}

#energy-x-axis .tick text {
  font-size: 12px;
  font-weight: 400;
}

#energy-y-axis .tick line {
  stroke: #bbb;
  opacity: 0.5;
}

#energy-y-axis path {
  stroke: #bbb;
  shape-rendering: crispEdges;
  opacity: 0;
}

#energy-y-axis .tick text {
  font-size: 12px;
  font-weight: 400;
}

/* Fuel sankey diagram/flow chart CSS */
#fuel-flow-chart {
  margin-top: 100px;
}
